@import "../../index.scss";
.new-year {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: $primary-font;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}