.slider {
    &-container {
        max-width: 40rem;
        border-radius: 1rem;
        margin-top: 2rem;
    }
}
.slick {
    &-arrow {
        &:before {
            font-size: 3rem !important;
            margin-right: 1rem;
        }
    }
}