.slider {
    &-container {
        max-width: 50rem;
        background-color: #fff;
        border-radius: 1rem;
    }
}
.slick {
    &-arrow {
        &:before {
            font-size: 4rem;
        }
    }
}