.slider {
    &-container {
        max-width: 50rem;
        border-radius: 1rem;
        margin-top: 2rem;
    }
}
.slick {
    &-arrow {
        &:before {
            font-size: 4rem;
        }
    }
}